services:
  mariadb:
    image: mariadb:10.11
    container_name: syncin_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "{{ syncin_db_password }}"
      MYSQL_DATABASE: sync_in
    volumes:
      - syncin_db_data:/var/lib/mysql

  sync_in:
    image: syncin/server:latest
    container_name: syncin_app
    restart: always
    ports:
      - "80:8080"
    depends_on:
      - mariadb
    environment:
      - INIT_ADMIN=true
      - INIT_ADMIN_LOGIN={{ syncin_admin_user }}
      - INIT_ADMIN_PASSWORD={{ syncin_admin_password }}
    volumes:
      - /opt/syncin/environment.yaml:/app/environment.yaml
      - syncin_data:/app/data

volumes:
  syncin_db_data:
  syncin_data: