[all:vars]
ansible_user=ansible
ansible_ssh_private_key_file=~/MSPR2/Common/ansible_key

[admin]
ADMIN-SRV-1 ansible_host=${admin_ip}

[nextcloud]
FILE-SRV-1 ansible_host=${nextcloud_ip}
FILE-SRV-3 ansible_host=${nextcloud_datacenter_ip}

[supervision]
SUP-SRV-1 ansible_host=${supervision_ip}

[firewall]
FW-LDN-1 ansible_host=${firewall_wan_ip}
FW-DC-1 ansible_host=${firewall_datacenter_wan_ip}

[firewall:vars]
firewall_vlan10_ip=${firewall_vlan10_ip}
firewall_vlan11_ip=${firewall_vlan11_ip}

[linux:children]
admin
nextcloud
supervision
firewall

[windows]
WIN-SRV-1 ansible_host=${active_directory_ip}
BV-SRV-1  ansible_host=${bureau_virtuel_ip}

[windows:vars]
ansible_user=ansible
ansible_password=Adminadmin1234
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore
ansible_winrm_transport=ntlm